.main,
.slider {
	display: none;
}
/*------------------------------------*\
    Header
\*------------------------------------*/

.header-top {
	background: $blue;
	text-align: center;
	padding: 11px 0;
}

.header-top__link {
	position: relative;
	color: $white;
	text-transform: uppercase;
	font-size: 13px;

	&:hover {
		color: $white;
	}

	.header-top-arr {
		display: inline-block;

	}
}

.header-bottom-row {
	position: relative;
}

/* Main nav */
.nav-container {
	padding-top: 18px;
	text-align: center;
}

.logo {
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

.navbar-nav>li {
	margin-right: 60px;

	&:last-child {
		margin-right: 0;
	}
}
.navbar-default .navbar-nav>li>a {
	color: $black_light;
}
.nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	transition: color .2s
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: $blue;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: none;
	color: $blue;
}

.navbar-toggle {
	.icon-bar {
		position: relative;
		width: 29px;
		height: 4px;
		background-color: $blue !important;
	}
}

/* social */
.social {
	// padding-top: 10px;
	position: absolute;
	top: 10px;
	right: 0;

	ul {
		display: inline-block;
		float: right;
	}
}

.social__item {
	float: left;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.social__link {
	span {
		display: inline-block;
	}
}

/*------------------------------------*\
    Slider
\*------------------------------------*/
.slick-slider {
	margin-bottom: 0;
}
.slider {
	position: relative;

	.slick-dots {
		bottom: 33px;
		right: 38px;
		display: inline-block !important;
		width: auto;

		li {
			button {
				background: #f6d8cc;
				border-radius: 50%;
				size: 16px;

				&:before {
					content: none;
				}
			}
		}

		.slick-active {
			button {
				border: 5px solid #393939;
			}
		}
	}
}

.slider__item {
	position: relative;
	img {
		width: 100%;
	}
}

.slider__desc {
	position: absolute;
	bottom: 15%;
	left: 50%;
	width: 618px;
	text-align: center;
	margin-left: -309px;
}

.slider__desc-text,
.slider__desc-author {
	padding: 11px 24px;
	background: $red;
	color: $white;
	font-size: 18px;
	display: inline-block;
}

.slider__desc-text {
	margin-bottom: 25px;
	clear: both;
}

.slider__desc-author {
	padding: 12px 26px;
	text-transform: uppercase;
}

.slider__shop {
	padding: 13px 20px 13px 54px;
	position: absolute;
	top: 74px;
	right: 0;
	background: $red_super_ligh;
	font-size: 15px;

	&:--hoverous {
		background: color($red a(95%));
	}

	.busket-white {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 19px;
	}
}

/**
***************************************************************
* =Home
***************************************************************
**/

.home-box {
	text-align: center;
	position: relative;
}

.home-box-inner {
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



.home-inst,
.home-subscribe,
.home-insights,
.home-products,
.home-about,
.home-contact {
	float: left;
	overflow: hidden;
	background-size: cover !important;
	backround-position: center;
}

.home-inst,
.home-subscribe {
	height: 374px;
}

// instagram
.home-inst {
	width: 50%;
	background: url('../images/home-instagram.jpg') no-repeat;

	.home-box-inner {
		a:first-child {
			padding: 11px 31px;
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
}

// subscribe
.home-subscribe {
	width: 50%;
	background: url('../images/home-subscribe.jpg') no-repeat;

	.home-box-inner {
		h2 {
			display: inline-block;
			background: $yellow;
			color: $white;
			font-size: 18px;
			padding: 12px 18px;
			text-transform: uppercase;
		}

		h2:first-child {
			margin-bottom: 13px;
		}

		h2:nth-child(2) {
			margin-bottom: 27px;
		}
	}

	.subscribe {
		display: inline-block;

		input[type=text],
		input[type=email] {
			// float: left;
			width: 170px;
			margin-right: 14px;
			padding: 7px 9px;
			background: rgba($white, .9);
			font-size: 15px;
			color: #838383;
			font-family: $bariol;

			&::-webkit-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&:-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&::-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
			&:-ms-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
		}

		input[type=email] {
			margin-right: 0;
		}

		input[type=submit] {
			border: none;
			outline: none;
			font-size: 12px;
			// padding: 7px 14px;
		}
	}
}


.subscribe-field-container {
	margin-bottom: 32px;
}

// insights
.home-insights,
.home-products {
	min-height: 545px;
}

.home-insights {
	width: 40%;
	background: url('../images/home-insights.jpg') no-repeat;

	a {
		padding: 11px 19px;
	}
}

// products
.home-products {
	width: 60%;
	background: url('../images/home-products.jpg') no-repeat;

	a:first-child {
		margin-bottom: 28px;
	}
}


.home-about,
.home-contact {
	min-height: 411px;
}
// about
.home-about {
	width: 50%;
	background: url('../images/home-about.jpg') no-repeat;
}

// about
.home-contact {
	width: 50%;
	background: url('../images/home-contact.jpg') no-repeat;
}

/**
***************************************************************
* =Footer
***************************************************************
**/

.footer {
	position: relative;
}

.copyright {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #838383;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/**
***************************************************************
* =@MEDIA QUERIES
***************************************************************
**/

@media screen and (min-width: 1200px) {
	.container {
	    width: 1200px;
	}
}

@media screen and (max-width: 550px) {
	.header-top {
		display: none;
	}
}

@media screen and (max-width: 767px) {

}
