/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.arr_next {
  background-image: url(../images/sprite.png);
  background-position: -37px 0px;
  width: 10px;
  height: 10px;
}
.arr_prev {
  background-image: url(../images/sprite.png);
  background-position: -26px 0px;
  width: 10px;
  height: 10px;
}
.basket-social {
  background-image: url(../images/sprite.png);
  background-position: -136px 0px;
  width: 17px;
  height: 11px;
}
.busket-white {
  background-image: url(../images/sprite.png);
  background-position: -154px 0px;
  width: 20px;
  height: 13px;
}
.carousel_arr_next {
  background-image: url(../images/sprite.png);
  background-position: -175px 0px;
  width: 20px;
  height: 19px;
}
.carousel_arr_prev {
  background-image: url(../images/sprite.png);
  background-position: -196px 0px;
  width: 20px;
  height: 19px;
}
.email {
  background-image: url(../images/sprite.png);
  background-position: -88px 0px;
  width: 14px;
  height: 11px;
}
.facebook {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 6px;
  height: 11px;
}
.facebook_red {
  background-image: url(../images/sprite.png);
  background-position: -7px 0px;
  width: 8px;
  height: 14px;
}
.instagram {
  background-image: url(../images/sprite.png);
  background-position: -48px 0px;
  width: 11px;
  height: 11px;
}
.instagram_red {
  background-image: url(../images/sprite.png);
  background-position: -103px 0px;
  width: 15px;
  height: 14px;
}
.location {
  background-image: url(../images/sprite.png);
  background-position: -74px 0px;
  width: 13px;
  height: 18px;
}
.logo {
  background-image: url(../images/sprite.png);
  background-position: -217px 0px;
  width: 204px;
  height: 55px;
}
.phone {
  background-image: url(../images/sprite.png);
  background-position: -16px 0px;
  width: 9px;
  height: 17px;
}
.twitter {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 13px;
  height: 11px;
}
.twitter_red {
  background-image: url(../images/sprite.png);
  background-position: -119px 0px;
  width: 16px;
  height: 13px;
}
