/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
	margin-bottom: 25px;
}

.header-top {
	background: $blue;
	text-align: center;
	padding: 11px 0;

}

.header-top__link {
	position: relative;
	color: $white;
	text-transform: uppercase;
	font-size: 13px;

	&:hover {
		color: $white;
	}

	.arr_next {
		display: inline-block;
		position: relative;
		top: 1px;
	}
}

.header-bottom-row {
	position: relative;
}

/* Main nav */
.nav-container {
	padding-top: 18px;
	text-align: center;
}

.logo {
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

.nav {
	display: none;
}

.nav li {
	display: inline-block;
	margin-right: 60px;

	&:last-child {
		margin-right: 0;
	}
}
.nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	transition: color .2s;
	text-decoration: none;
	color: $black_light;

	&:--hoverous {
		color: $blue;
	}
}

.burger {
	display: none;
	float: right;
	margin-top: 24px;
	padding: 0;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	.burger__row {
		position: relative;
		display: block;
		width: 32px;
		height: 5px;
		background: #5782AB;
		margin-bottom: 4px;
		transition: background .4s;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

/* social */
.social {
	position: absolute;
	top: 10px;
	right: 0;

	ul {
		display: inline-block;
		float: right;
	}
}

.social__item {
	float: left;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.social__link {
	span {
		display: inline-block;
	}
}

/*------------------------------------*\
    Slider
\*------------------------------------*/
.slick-slider {
	margin-bottom: 0;
}
.slider {
	position: relative;

	.slick-dots {
		bottom: 33px;
		right: 38px;
		display: inline-block !important;
		width: auto;

		li {
			button {
				background: #f6d8cc;
				border-radius: 50%;
				size: 16px;

				&:before {
					content: none;
				}
			}
		}

		.slick-active {
			button {
				border: 5px solid #393939;
			}
		}
	}
}

.slider__item {
	outline: none;

	img {
		width: 100%;
	}
}

.slider__shop {
	padding: 13px 20px 13px 54px;
	position: absolute;
	top: 13%;
	right: 0;
	background: $red_super_ligh;
	font-size: 15px;

	&:--hoverous {
		background: color($red a(95%));
	}

	.busket-white {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 19px;
	}
}

.slick-arrow {
	display: none !important;
}

.main {
	overflow: hidden;
}

/**
***************************************************************
* =Home
***************************************************************
**/

.home-box {
	text-align: center;
	position: relative;
}

.home-box-inner {
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



.home-inst,
.home-subscribe,
.home-insights,
.home-products,
.home-about,
.home-contact {
	float: left;
	overflow: hidden;
	background-size: cover !important;
	background-position: center;
}

.home-inst,
.home-subscribe {
	min-height: 373px;
}

// instagram
.home-inst {
	width: 50%;
	background: url('../images/home-instagram.jpg') no-repeat;

	.home-box-inner {
		a:first-child {
			padding: 11px 31px;
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
}

// subscribe
.home-subscribe {
	width: 50%;
	background: url('../images/home-subscribe.jpg') no-repeat;

	.home-box-inner {
		.subscribe-desc-container {
			width: 94%;
			margin: 0 auto;

			h2 {
				display: inline-block;
				background: $yellow;
				color: $white;
				font-size: 18px;
				padding: 12px 18px;
				text-transform: uppercase;
			}

			h2:first-child {
				margin-bottom: 13px;
			}

			h2:nth-child(2) {
				margin-bottom: 27px;
			}
		}
	}
}

.subscribe {
		display: inline-block;

		input[type=text],
		input[type=email] {
			width: 170px;
			margin-right: 14px;
			padding: 7px 9px;
			background: rgba($white, .9);
			font-size: 15px;
			color: #838383;
			font-family: $bariol;

			&::-webkit-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&:-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&::-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
			&:-ms-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
		}

		input[type=email] {
			margin-right: 0;
		}

		input[type=submit] {
			border: none;
			outline: none;
			font-size: 12px;
		}
	}

.subscribe-field-container {
	margin-bottom: 32px;
}

// insights
.home-insights,
.home-products {
	min-height: 536px;
}

.home-insights {
	width: 40%;
	background: url('../images/home-insights.jpg') no-repeat;

	a {
		padding: 11px 19px;
	}
}

// products
.home-products {
	width: 60%;
	background: url('../images/home-products.jpg') no-repeat;

	a:first-child {
		margin-bottom: 28px;
	}
}


.home-about,
.home-contact {
	min-height: 410px;
}

// about
.home-about {
	width: 50%;
	background: url('../images/home-about.jpg') no-repeat;
}

// about
.home-contact {
	width: 50%;
	background: url('../images/home-contact.jpg') no-repeat;
}

/**
***************************************************************
* =Footer
***************************************************************
**/

.footer {
	position: relative;
}

.copyright {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #838383;
	padding: 9px 0;
}

/**
***************************************************************
* =PAGES
***************************************************************
**/

.page {
	border-bottom: 1px solid #bfbfbf;
}

.page-container {
	width: 974px;
	margin: 0 auto;
	padding-bottom: 60px;

	p {
		text-align: center;
		font-size: 14px;
		color: #343434;
		line-height: 23px;
	}
}

.slide-container {
	position: relative;
	margin-bottom: 75px;

	img {
		width: 100%;
	}
}

.page__title__container {
	width: 70%;
	margin: 0 auto;
}

.page__title {
	font-size: 49px;
	font-family: $have_heart;
	text-align: center;
	width: 62%;
	margin: 0 auto 20px;
}

.page__title-green {
	color: $green_light;
}

.page__title-purple {
	color: #7089a3;
}

.page__title-blue {
	color: #2d567e;
}

.page__title-red-light {
	color: $red_light;
}
.page__title-orange {
	color: $orange;
}

/*------------------------------------*\
    ADVENTURES SLIDER
\*------------------------------------*/
.adventures-slider {
	margin-bottom: 12px;

	.slick-prev,
	.slick-next {
		display: inline-block !important;

		&:before {
			content: '';
		}
	}

	.slick-prev {
		@extend .carousel_arr_prev;
		left: -50px;
		&:--hoverous {
			@extend .carousel_arr_prev;
		}
	}

	.slick-next {
		@extend .carousel_arr_next;
		right: -50px;

		&:--hoverous {
			@extend .carousel_arr_next;
		}
	}
}

.adventures-thumbnail__list {
	overflow: hidden;
}

.adventures-thumbnail__item {
	width: 32%;
	float: left;
	margin-right: 2%;
	outline: none;

	&:last-child {
		margin-right: 0;
	}
}

/*------------------------------------*\
    PRODUCTS
\*------------------------------------*/

.coming-soon {
	font-size: 84px;
	color: #292929;
	font-family: $have_heart;
	text-align: center;
	margin-bottom: 200px;
}

/*------------------------------------*\
    INSIGHTS
\*------------------------------------*/
.insights {
	margin-bottom: 35px;
}

.insights__item {
	position: relative;
	margin-bottom: 8px;
}

.insights__block {
	position: absolute;
	width: 50%;
	height: 100%;
}

.insights__block__wrapper {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.insights__item:nth-child(odd) {
	.insights__image__container {
		float: left;
	}

	.insights__block {
		right: 0;
	}
}

.insights__item:nth-child(even) {
	.insights__image__container {
		float: right;
	}
	.insights__block {
		left: 0;
	}
}

.insights__image__container {
	width: 53%;
}


.insights__title {
	text-align: center;
	padding: 17px 10px;
	margin-bottom: 17px;
	font-size: 20px;
	text-transform: uppercase;
	color: $white;
	background: #eec4a4;
}

.insights__preview {
	margin-bottom: 30px;
	font-size: 14px;
	color: #5b5b5b;
}

.insights__more {
	padding: 12px 42px;
	font-size: 14px;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/

.about__text-top {
	margin-bottom: 60px;
}

.about-carousel {
	height: 385px;
	margin-bottom: 30px;

	.slick-next,
	.slick-prev {
		display: inline-block !important;
		width: 20px;
		height: 19px;
		z-index: 1;

		&:before {
			content: '';
		}
	}

	.slick-next {
		right: 107px;
		@extend .carousel_arr_next;

		&:--hoverous {
			@extend .carousel_arr_next;
		}
	}

	.slick-prev {
		left: 107px;
		@extend .carousel_arr_prev;

		&:--hoverous {
			@extend .carousel_arr_prev;
		}
	}
}

.about-carousel__item {
	outline: none;
}

/*------------------------------------*\
    CONTACT
\*------------------------------------*/

.contact-page {
	width: 80%;
	margin: 0 auto;
}

.contact-left {
	width: 30%;
	float: left;
}

.contact-right {
	float: right;
	width: 52%;
}

.contact-info__item {
	margin-bottom: 23px;

	&:nth-child(3) {
		margin-bottom: 30px;
	}
}

.contact-info__title {
	padding-left: 10px;
	vertical-align: middle;
}

.location,
.email,
.phone,
.facebook_red,
.instagram_red,
.twitter_red {
	display: inline-block;
	vertical-align: middle;
}

.contact__social__item {
	margin-right: 17px;
	float: left;

	&:last-child {
		margin-right: 0;
	}
}

/* Contact form */

.contact-form__list__item {
	margin-bottom: 12px;
	list-style-type: none;

	&:last-child {
		margin-bottom: 0;
		text-align: center;
	}
}

.contact-form__list__input {
	width: 100%;
	height: 25px;
	line-height: 23px;
}

.contact-form__list__textarea {
	width: 100%;
	height: 63px;
}

.contact-form__list__submit {
	border: none;
	cursor: pointer;
	outline: none;
}

.screen-reader-response {
	display: none;
}

.wpcf7-not-valid-tip {
	display: inline-block;
	margin-top: 5px;
	color: $red_error;
}

.wpcf7-mail-sent-ok,
.wpcf7-validation-errors {
	box-sizing: border-box;
	color: #6eb3a2;
	font-weight: bold;
	font-size: 18px;
	padding: 20px 19px;
	border: 1px solid #6eb3a2;
	width: 100%;
}

.wpcf7-validation-errors {
	color: $red_error;
	border-color: $red_error;
}

/*------------------------------------*\
    SINGLE
\*------------------------------------*/

.single__content {
	margin-bottom: 35px;
}

.single__img {
	width: 100%;
	margin-bottom: 30px;
}

.single__content {
	line-height: 24px;
}

.pagination__next,
.pagination__prev {
	display: inline-block;

	a {
		position: relative;
		color: $white;
		display: inline-block;
		background: #7089a3;
		text-transform: uppercase;
		font-size: 14px;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			margin-top: -6px;
		}
	}
}

.pagination__next {
	float: right;

	a {
		padding: 13px 35px 13px 21px;

		&:after {
			@extend .arr_next;
			right: 18px;
		}
	}
}

.pagination__prev {
	float: left;


	a {
		padding: 13px 21px 13px 35px;

		&:after {
			@extend .arr_prev;
			left: 18px;
		}
	}
}


/**
***************************************************************
* =@MEDIA QUERIES
***************************************************************
**/

@media screen and (min-width:767px) {
	.nav {
		display: block !important;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		width: 1024px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 940px;
	}
}

@media screen and (max-width: 1024px) {
	.page-container {
		width: 767px;
	}

	.page__title {
		width: 100%;
	}

	/*------------------------------------*\
	    INSIGHTS
	\*------------------------------------*/
	.insights__title {
		padding: 12px 10px;
		font-size: 16px;
	}

	.insights__preview {
		margin-bottom: 20px;
	}

	/*------------------------------------*\
	    CONTACT PAGE
	\*------------------------------------*/
	.contact-page {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 740px;
	}

	/*------------------------------------*\
	    Home
	\*------------------------------------*/
	.home-subscribe .home-box-inner h2 {
		font-size: 16px !important;
	}

	/*------------------------------------*\
	    Adventures
	\*------------------------------------*/
	.adventures-slider {
		width: 85%;
		margin: 0 auto 20px;

		.slick-prev {
			left: -25px;
		}

		.slick-next {
			right: -25px;
		}
	}

}

@media screen and (max-width: 780px) {
	.page-container {
		width: 95%;
	}

	.about-carousel {
		.slick-next {
			right: 57px;
		}

		.slick-prev {
			left: 57px;
		}
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 97%;
	}
	/*------------------------------------*\
	    Header
	\*------------------------------------*/

	.nav {
		text-align: left;
	}

	.nav>li {
		display: block;
		margin-right: 0;
		margin-bottom: 8px;

		a {
			font-size: 16px;
		}
	}

	.burger {
		display: block;
	}

	/*------------------------------------*\
	    home
	\*------------------------------------*/
	.home-box {
		width: 100%;
		float: none;
	}

	.home-inst,
	.home-subscribe {
		min-height: 333px;
	}

	.home-insights,
	.home-products {
		min-height: 336px;
	}

	.home-about,
	.home-contact {
		min-height: 310px;
	}

	/*------------------------------------*\
	    INSIGHTS
	\*------------------------------------*/
	.insights__item {
		margin-bottom: 30px;
	}

	.insights__block {
		position: relative;
		width: 100%;
	}

	.insights__block__wrapper {
		width: 100%;
		position: relative;
		top: initial;
		left: initial;
		transform: none;
	}

	.insights__image__container {
		float: none !important;

		img {
			width: 100%;
		}
	}

	.insights__block {
		right: initial;
		left: initial;
	}

	.insights__image__container {
		width: 100%;
	}

	.insights__preview {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 550px) {
	/*------------------------------------*\
	    Header
	\*------------------------------------*/

	.header-top {
		display: none;
	}

	/*------------------------------------*\
	    Slider
	\*------------------------------------*/
	.slider__shop {
		padding: 11px 18px 11px 47px;
	}

	/*------------------------------------*\
	    CONTACT PAGE
	\*------------------------------------*/
	.contact-left,
	.contact-right {
		width: 100%;
		float: none;
	}

	.contact-left {
		margin-bottom: 20px;
	}

	.contact-info__item {
		margin-bottom: 10px;

		&:nth-child(3) {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 480px) {
	.nav-container {
		text-align: left;
	}

	/*------------------------------------*\
	    Slider
	\*------------------------------------*/
	.slider__shop {
		padding: 9px 16px 9px 43px;
		font-size: 13px;

		.busket-white {
			left: 12px;
		}
	}

	/*------------------------------------*\
	    Home
	\*------------------------------------*/
	.home-subscribe .home-box-inner h2 {
		font-size: 16px !important;
		padding: 8px 10px !important;
	}

	.subscribe {

		input[type=text],
		input[type=email] {
			background: rgba($white, 1);
		}

		input[type=submit] {
			font-size: 14px;
		}
	}

	.home-products {
		.btn {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 400px) {
	/*------------------------------------*\
	    Home
	\*------------------------------------*/

	.home-subscribe .home-box-inner h2 {
		font-size: 13px !important;
	}

	.subscribe {
		input[type=text],
		input[type=email] {
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
		}

		input[type=email] {
			margin-bottom: 0;
		}
		input[type=submit] {
			font-size: 14px;
		}
	}

	/*------------------------------------*\
	    SINGLE
	\*------------------------------------*/
	.pagination__prev,
	.pagination__next {
		float: none;
	}

	.pagination__prev {
		margin-bottom: 20px;
	}
}
