/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
	margin-bottom: 25px;
}

.header-top {
	background: $blue;
	text-align: center;
	padding: 11px 0;

}

.header-top__link {
	position: relative;
	color: $white;
	text-transform: uppercase;
	font-size: 13px;

	&:hover {
		color: $white;
	}

	.header-top-arr {
		display: inline-block;

	}
}

.header-bottom-row {
	position: relative;
}

/* Main nav */
.nav-container {
	padding-top: 18px;
	text-align: center;
}

.logo {
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
}

.nav {
	display: none;
}

.nav li {
	display: inline-block;
	margin-right: 60px;

	&:last-child {
		margin-right: 0;
	}
}
.nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	transition: color .2s;
	text-decoration: none;
	color: $black_light;

	&:--hoverous {
		color: $blue;
	}
}

.current-menu-item a {
	color: $blue !important;
}

.burger {
	display: none;
	float: right;
	margin-top: 24px;
	padding: 0;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	.burger__row {
		position: relative;
		display: block;
		width: 32px;
		height: 5px;
		background: #5782AB;
		margin-bottom: 4px;
		transition: background .4s;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

/* social */
.social {
	position: absolute;
	top: 10px;
	right: 0;

	ul {
		display: inline-block;
		float: right;
	}
}

.social__item {
	float: left;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.social__link {
	span {
		display: inline-block;
	}
}

/*------------------------------------*\
    Slider
\*------------------------------------*/
.slick-slider {
	margin-bottom: 0;
}
.slider {
	position: relative;

	.slick-dots {
		bottom: 33px;
		right: 38px;
		display: inline-block !important;
		width: auto;

		li {
			button {
				background: #f6d8cc;
				border-radius: 50%;
				size: 16px;

				&:before {
					content: none;
				}
			}
		}

		.slick-active {
			button {
				border: 5px solid #393939;
			}
		}
	}
}

.slider__item {
	outline: none;

	img {
		width: 100%;
	}
}

.slider__shop {
	padding: 13px 20px 13px 54px;
	position: absolute;
	top: 13%;
	right: 0;
	background: $red_super_ligh;
	font-size: 15px;

	&:--hoverous {
		background: color($red a(95%));
	}

	.busket-white {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 19px;
	}
}

.slick-arrow {
	display: none !important;
}

.main {
	overflow: hidden;
}

/**
***************************************************************
* =Home
***************************************************************
**/

.home-box {
	text-align: center;
	position: relative;
}

.home-box-inner {
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



.home-inst,
.home-subscribe,
.home-insights,
.home-products,
.home-about,
.home-contact {
	float: left;
	overflow: hidden;
	background-size: cover !important;
	background-position: center;
}

.home-inst,
.home-subscribe {
	min-height: 373px;
}

// instagram
.home-inst {
	width: 50%;
	background: url('../images/home-instagram.jpg') no-repeat;

	.home-box-inner {
		a:first-child {
			padding: 11px 31px;
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
}

// subscribe
.home-subscribe {
	width: 50%;
	background: url('../images/home-subscribe.jpg') no-repeat;

	.home-box-inner {
		.subscribe-desc-container {
			width: 94%;
			margin: 0 auto;

			h2 {
				display: inline-block;
				background: $yellow;
				color: $white;
				font-size: 18px;
				padding: 12px 18px;
				text-transform: uppercase;
			}

			h2:first-child {
				margin-bottom: 13px;
			}

			h2:nth-child(2) {
				margin-bottom: 27px;
			}
		}
	}
}

.subscribe {
		display: inline-block;

		input[type=text],
		input[type=email] {
			width: 170px;
			margin-right: 14px;
			padding: 7px 9px;
			background: rgba($white, .9);
			font-size: 15px;
			color: #838383;
			font-family: $bariol;

			&::-webkit-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&:-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}

			&::-moz-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
			&:-ms-input-placeholder
			{
			  color: #838383;
			  font-family: $bariol;
			}
		}

		input[type=email] {
			margin-right: 0;
		}

		input[type=submit] {
			border: none;
			outline: none;
			font-size: 12px;
		}
	}

.subscribe-field-container {
	margin-bottom: 32px;
}

// insights
.home-insights,
.home-products {
	min-height: 536px;
}

.home-insights {
	width: 40%;
	background: url('../images/home-insights.jpg') no-repeat;

	a {
		padding: 11px 19px;
	}
}

// products
.home-products {
	width: 60%;
	background: url('../images/home-products.jpg') no-repeat;

	a:first-child {
		margin-bottom: 28px;
	}
}


.home-about,
.home-contact {
	min-height: 410px;
}

// about
.home-about {
	width: 50%;
	background: url('../images/home-about.jpg') no-repeat;
}

// about
.home-contact {
	width: 50%;
	background: url('../images/home-contact.jpg') no-repeat;
}

/**
***************************************************************
* =Footer
***************************************************************
**/

.footer {
	position: relative;
}

.copyright {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #838383;
	padding: 9px 0;
}

/**
***************************************************************
* =PAGES
***************************************************************
**/

.page {
	border-bottom: 1px solid #bfbfbf;
}

.page-container {
	width: 974px;
	margin: 0 auto;
	padding-bottom: 60px;

	p {
		text-align: center;
		font-size: 14px;
		color: #343434;
		line-height: 23px;
	}
}

.slide-container {
	position: relative;
	margin-bottom: 75px;
}

.slide-container__img {
	width: 100%;
}

.page__title__container {
	width: 70%;
	margin: 0 auto;
}

.page__title {
	font-size: 48px;
	font-family: $have_heart;
	text-align: center;
	margin-bottom: 20px;
}

.page__title-green {
	color: $green_light;
}

.page__title-purple {
	color: #7089a3;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/

.about__text-top {
	margin-bottom: 60px;
}

.about-carousel {
	height: 385px;
	margin-bottom: 30px;

	.slick-next,
	.slick-prev {
		display: block !important;
		width: 20px;
		height: 19px;
		z-index: 1;

		&:before {
			content: '';
		}
	}

	.slick-next {
		right: 107px;
		background: url(../images/carousel_arr_next.png) no-repeat;
	}

	.slick-prev {
		left: 107px;
		background: url(../images/carousel_arr_prev.png) no-repeat;
	}
}

.about-carousel__item {
	outline: none;
}



/**
***************************************************************
* =@MEDIA QUERIES
***************************************************************
**/

@media screen and (min-width:767px) {
	.nav {
		display: block !important;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		width: 1024px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 940px;
	}
}

@media screen and (max-width: 1024px) {
	.page-container {
		width: 767px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 740px;
	}

	/*------------------------------------*\
	    Home
	\*------------------------------------*/
	.home-subscribe .home-box-inner h2 {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 780px) {
	.page-container {
		width: 95%;
	}

	.about-carousel {
		.slick-next {
			right: 57px;
		}

		.slick-prev {
			left: 57px;
		}
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 97%;
	}
	/*------------------------------------*\
	    Header
	\*------------------------------------*/

	.nav {
		text-align: left;
	}

	.nav>li {
		display: block;
		margin-right: 0;
		margin-bottom: 8px;

		a {
			font-size: 16px;
		}
	}

	.burger {
		display: block;
	}

	/*------------------------------------*\
	    home
	\*------------------------------------*/
	.home-box {
		width: 100%;
		float: none;
	}

	.home-inst,
	.home-subscribe {
		min-height: 333px;
	}

	.home-insights,
	.home-products {
		min-height: 336px;
	}

	.home-about,
	.home-contact {
		min-height: 310px;
	}

}

@media screen and (max-width: 550px) {
	/*------------------------------------*\
	    Header
	\*------------------------------------*/

	.header-top {
		display: none;
	}

	/*------------------------------------*\
	    Slider
	\*------------------------------------*/
	.slider__shop {
		padding: 11px 18px 11px 47px;
	}
}

@media screen and (max-width: 480px) {
	.nav-container {
		text-align: left;
	}

	/*------------------------------------*\
	    Slider
	\*------------------------------------*/
	.slider__shop {
		padding: 9px 16px 9px 43px;
		font-size: 13px;

		.busket-white {
			left: 12px;
		}
	}

	/*------------------------------------*\
	    Home
	\*------------------------------------*/
	.home-subscribe .home-box-inner h2 {
		font-size: 16px !important;
		padding: 8px 10px !important;
	}

	.subscribe {

		input[type=text],
		input[type=email] {
			background: rgba($white, 1);
		}

		input[type=submit] {
			font-size: 14px;
		}
	}

	.home-products {
		.btn {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 400px) {
	/*------------------------------------*\
	    Home
	\*------------------------------------*/

	.home-subscribe .home-box-inner h2 {
		font-size: 13px !important;
	}

	.subscribe {
		input[type=text],
		input[type=email] {
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
		}

		input[type=email] {
			margin-bottom: 0;
		}
		input[type=submit] {
			font-size: 14px;
		}
	}
}
